<h2>Sign Up</h2>

<form action="/admin/signup" method="post">

  <label for="fullname">Full Name</label>
  <input type="text" name="fullname" id="fullname" />

  <label for="username">Username</label>
  <input type="text" name="username" id="username" />

  <label for="password">Password</label>
  <input type="password" name="password" id="password" />

  <button type="submit">Sign Up</button>

</form>

{{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
{{/if}}