<header>
    <nav class="nav-container">
        <div class="nav-left"> 
            <img src="/images/blogbytes-logo.png" alt="">
        </div>
        <div class="nav-right">
            <ol>
                <li><a class="nav-btn" href="/user-dashboard">Dashboard</a></li>
                <li><a class="nav-btn" href="/create-blog">Create</a></li>
                <li><a class="nav-btn" href="/explore-blog">Explore</a></li>
                <li><a class="nav-btn" href="/user-profile">Profile</a></li>
                <li><a class="nav-btn" href="/user-logout">Logout</a></li>
            </ol>
        </div>
    </nav>
</header>
