<header>
    <nav>
        <div>
            <img src="" alt="">
        </div>
        <div>
            <ol>
                <li><a href="/create-blog">create</a></li>
                <li><a href="/explore-blog">explore</a></li>
                <li><a href="/user-profile">profile</a></li>
                <li><a href="/user-logout">logout</a></li>
            </ol>
        </div>
    </nav>
</header>
