<nav class="nav">

    <div class="nav-container">

      <div class="nav-left">
        <a href="/user-dashboard"><img src="/images/logo.png" alt="" /></a>
        <p class="nav-heading">BlogByte.</p>
      </div>

      <div class="nav-right">
        <a href="/user-profile" class="nav-btn">Profile</a>
        <a href="/create-blog" class="nav-btn">Create</a>
        <a href="/explore" class="nav-btn">Explore</a>
        <a href="/user-logout" class="nav-btn">Logout</a>
      </div>

    </div>

  </nav>
