<header>
    <nav>
        <div>
            <img src="" alt="">
        </div>
        <div>
            <ol>
                <li><a href="/user-dashboard">Dashboard</a></li>
                <li><a href="/create-blog">Create</a></li>
                <li><a href="/explore-blog">Explore</a></li>
                <li><a href="/user-profile">Profile</a></li>
                <li><a href="/user-logout">Logout</a></li>
            </ol>
        </div>
    </nav>
</header>
