{{> navbar}}

<section class="explore-blog">

    <div class="explore-blog-info">

        <h2 class="blog-info-title">
            Title:{{data.title}}
        </h2>
        <h4 class="blog-info-username">
            Written by:{{data.creator.username}}
        </h4>
        <h4 class="blog-info-topic">
            topic:{{data.topic}}
        </h4>
        <p class="blog-info-description">
            Description:{{data.entry}}
        </p>



    </div>

</section>