<div id="login-form">
  <h2>Log In</h2>
  <form action="/user-login" method="POST">

    <label> Email
      <input type="email" name="email" placeholder="Your email" />
    </label>

    <label> Password
      <input type="password" name="password" placeholder="Your password" />
    </label>

    <button type="submit">Log in</button>

    
    <h2>Don´t have a accout?</h2>
    <a href="/user-signup">Create New Account</a>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>