<div class="sign-in">

  <img class="wave" src="/images/draw.png" />
  <div class="container">
    <div class="img">
      <a href="/">
      <img id="logo-img" src="/images/blogbytes-logo.png" class="log-in-home"/>
      </a>
      <img src="/images/left-signin.svg">
    </div>
 
    <div class="login-content">
      <form action="/user-login" method="post">
        <img src="/images/profile.svg" />
        <h2 class="title">WLCOME TO BLOGBYTE</h2>
        <div class="input-div one">
          <div class="i">
            <i class="fas fa-envelope"></i>
          </div>
          <div class="div">
            <h5>Email</h5>
            <input type="email" class="input" name="email" id="email" />
          </div>
        </div>
        <div class="input-div pass">
          <div class="i">
            <i class="fas fa-lock"></i>
          </div>
          <div class="div">
            <h5>Password</h5>
            <input
              type="password"
              class="input"
              name="password"
              id="password"
            />

          </div>
        </div>
        {{! <a href="#">Forgot Password?</a> }}
        <a class="sing-up-link" href="/user-signup">Dont have an account?</a>

        {{#if errorMessage}}

          <h3 class="error-message">{{errorMessage}}</h3>

        {{/if}}
        <button type="submit" class="btn">Sign In</button>
      </form>
    </div>
  </div>
</div>