<header class="header">

  <nav class="nav">

    <div class="nav-container">

      <div class="nav-left">
        <a href="/"><img src="/images/blogbytes-logo.png" alt="" /></a>
        {{!-- <p class="nav-heading">BlogByte.</p> --}}
      </div>

      <div class="nav-right">
        <a href="#" class="nav-btn">ABOUT</a>
        <a href="#" class="nav-btn">EXPLORE</a>
        <a href="#" class="nav-btn">CONTACT</a>
        <a href="/admin" class="nav-btn log-in-btn">ADMIN</a>
        <a href="/user-login" class="nav-btn log-in-btn">LOGIN</a>
      </div>

    </div>

  </nav>

  <section class="header-second">

    <div class="hs-first">

        <h1 class="hs-heading">
            PUBLISH YOUR<br> PASSION
        </h1>
        <h3 class="hs-subheading">
            Find, Research and Create Your <span class="hs-heading-span">Blogs</span>
        </h3>

        <div class="header-btn">
            <a href="/user-login">GET STARTED</a>
        </div>

    </div>

    <div class="hs-second">

        <img src="/images/header-blog.svg" alt="">

    </div>

  </section>
</header>

<section class="section-first">


</section>

